<nav>
  <mat-toolbar class="mat-elevation-z4" color="primary">
    <a mat-button [routerLink]="['/']">App</a>
    <div fxFlex></div>
    <span>
      <button mat-button>LOG IN</button>
      <button mat-raised-button color="accent" >SIGN UP</button>
    </span>
  </mat-toolbar>
</nav>
<div class="full-body">

  <main>
  	<router-outlet></router-outlet>
  </main>

  <footer>
    <mat-toolbar color="secondary">
      <div fxFlex></div>
      <span class="mat-caption">copyright 2017</span>
    </mat-toolbar>
  </footer>
</div>
